/*Rojo principal (#E63946): Es el color dominante de la página.
Blanco suave (#F1FAEE):  mejora  legibilidad.
Gris oscuro (#1D3557): Añade profundidad 
Azul claro (#457B9D): botones o enlaces.
Turquesa suave (#A8DADC): Acentúa elementos importantes .  
*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E63946 ;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
header{
    background-color: #F1FAEE;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    border: 2px solid #A8DADC;
    color: #1D3557;
    
}


.LoginForm{
    
    background-color: #F1FAEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    border: 2px solid #A8DADC;
    text-align: center;
    margin: 14vh;

  
}
.LoginForm label ,p{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1D3557;
}
.LoginForm input{
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #1D3557;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F1FAEE;
    color: #1D3557;
}
.LoginForm button{
    width: 80%;
    padding: 10px;
    background-color: #457B9D;
    color: #F1FAEE;
    border: 2px solid #A8DADC;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
footer{
    background-color: #F1FAEE;
    border: 2px solid #A8DADC;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    margin-top: auto;
}
